.venv
.vscode/
build/
dist/
__pycache__
*.egg-info/
**/__pycache__/
**/.ipynb_checkpoints
**/.ipynb_checkpoints/**
*.swp
*.pth
projects/
!projects/project file will save here
# Python 2.x & 3.x bytecode cache
*.pyc
*__pycache__

# metadata from pip-installing repo
umap_learn.egg-info

# test
test*
notebooks/temp

ckpt/*.pth

# public_script
public_script.sh