matplotlib
tqdm
av==12.1.0
numpy
opencv-python
umap-learn
plotly
gradio
h5py
natsort
pytest
--extra-index-url=https://pypi.nvidia.com
cuml-cu12

--index-url https://download.pytorch.org/whl/cu126
torch torchvision 